<section class="mt-4">
  <mat-form-field>
    <mat-label>Filtrowanie:</mat-label>
    <input #input [formControl]="filterValue" matInput placeholder="Wpisz frazę">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>

      <ng-container matColumnDef="lp">
        <th *matHeaderCellDef mat-header-cell> Lp.</th>
        <td *matCellDef="let row; index as i" mat-cell> {{ i + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Imię</th>
        <td *matCellDef="let row" mat-cell><span [appHighlight]="'red'">{{row.firstname}}</span></td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Nazwisko</th>
        <td *matCellDef="let row" mat-cell> {{row.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Email</th>
        <td *matCellDef="let row" mat-cell> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let row" mat-cell>
          <button [routerLink]="'/klienci/' + row.id" color="primary" mat-raised-button>Szczegóły</button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">Brak danych pasujących do wskazanego filtra "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [length]="totalCount" [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Wybierz stronę"></mat-paginator>
  </div>
</section>
