<div class="login-wrapper mt-3">
  <h2>Zaloguj się:</h2>
  <form #f='ngForm' (ngSubmit)="onLogin()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa użytkownika</mat-label>
        <input [(ngModel)]="userData.username" matInput maxlength="30" minlength="4" name="username" required>
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="f.controls?.['username']?.invalid && f.controls?.['username']?.touched && f.controls?.['username']?.dirty">
      <app-alert *ngIf="f.controls?.['username']?.errors"
                 [text]="'Ta kontrolka musi mieć od 4 do 30 znaków.'"></app-alert>
    </ng-container>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input [(ngModel)]="userData.password" [type]="hide ? 'password' : 'text'" matInput name="password" required>
        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                matSuffix>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="f.controls?.['password']?.invalid && (f.controls?.['password']?.touched || f.controls?.['password']?.dirty)">
      <app-alert *ngIf="f.controls?.['password']?.errors" [text]="'Ta kontrolka nie może być pusta.'"></app-alert>
    </ng-container>
    <div class="d-flex justify-content-end">
      <button [disabled]="!f.valid" color="primary" mat-raised-button type="submit">Zaloguj się</button>
    </div>
    <div>
      <p class="text-center">Nie masz konta? <a routerLink="/rejestracja">Zarejestruj się!</a></p>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
