<li class="list-group-item" #li>
  <input
    type="checkbox"
    class="form-check-input my-1"
    [checked]="todo.isComplete"
    (change)="changeTodoStatus()"
  >
  <span class="todo-item" [ngClass]="{'text-decoration-line-through': todo.isComplete}">{{ i + 1 }}. {{ todo.name | firstLetterUppercase }}</span>

  <button type="button" class="btn btn-danger btn-sm mx-2" (click)="toggleModal()">Usuń</button>
  <button type="button" class="btn btn-info btn-sm mx-2" (click)="navigateToDetails()">Szczegóły</button>
</li>

<app-modal *ngIf="openModal" (close)="toggleModal()" [title]="'Czy na pewno chcesz usunać zadanie o id ' + id + '?'">
  <div class="d-flex justify-content-end" #modalDiv test>
<!--    <input type="checkbox" #check (change)="0">-->
    <button class="btn btn-danger btn-sm mx-2" (click)="deleteTodo()">Usuń</button>
    <button class="btn btn-info btn-sm" (click)="toggleModal()">Anuluj</button>
  </div>
</app-modal>
