<div class="client-form-wrapper mt-3">
  <h2 *ngIf="editMode">Dodaj nowego klienta:</h2>
  <form (ngSubmit)="onAddClient()" [formGroup]="clientForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Imię</mat-label>
        <input formControlName="firstname" matInput>
        <mat-error *ngIf="controls.firstname.invalid">{{getErrorMessage(controls.firstname)}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input formControlName="surname" matInput>
        <mat-error *ngIf="controls.surname.invalid">{{getErrorMessage(controls.surname)}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adres e-mail</mat-label>
        <input formControlName="email" matInput placeholder="test@gmail.com">
        <mat-error *ngIf="controls.email.invalid">{{getErrorMessage(controls.email)}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <!--      <mat-form-field appearance="fill">-->
      <!--        <mat-label>Numer telefonu</mat-label>-->
      <!--        <input formControlName="phone" matInput>-->
      <!--        <mat-error *ngIf="controls.phone.invalid">{{getErrorMessage(controls.phone)}}</mat-error>-->
      <!--      </mat-form-field>-->
      <app-phone-control formControlName="phone"></app-phone-control>

    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adres zamieszkania</mat-label>
        <input formControlName="address" matInput>
        <mat-error *ngIf="controls.address.invalid">{{getErrorMessage(controls.address)}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Kod pocztowy</mat-label>
        <input formControlName="postcode" matInput>
        <mat-error *ngIf="controls.postcode.invalid">{{getErrorMessage(controls.postcode)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <button (click)="emitCloseDialog()" *ngIf="editMode" color="warn" mat-raised-button type="button">Anuluj</button>
      <button [disabled]="clientForm.invalid" class="mx-1" color="primary" mat-raised-button
              type="submit">{{ editMode ? 'Edytuj klienta' : 'Dodaj nowego klienta'}}
      </button>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
  <!--  <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>-->
</div>
