<div class="register-wrapper mt-3">
  <h2>Zarejestruj się:</h2>
  <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adres e-mail</mat-label>
        <input formControlName="email" matInput placeholder="test@gmail.com">
        <mat-error *ngIf="controls.email.invalid">{{getErrorMessage(controls.email)}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa użytkownika</mat-label>
        <input formControlName="username" matInput>
        <mat-error *ngIf="controls.username.invalid">{{getErrorMessage(controls.username)}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput>
        <mat-error *ngIf="controls.password.invalid">{{getErrorMessage(controls.password)}}</mat-error>
        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                matSuffix>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--    <ng-container formArrayName="hobbies">-->
    <!--      <div *ngFor="let hobby of hobbies.controls; index as i">-->
    <!--        <input [formControlName]="i" type="text">-->
    <!--        <button (click)="removeControl(i)" class="btn btn-sm btn-danger">X</button>-->
    <!--      </div>-->
    <!--    </ng-container>-->
    <!--    <button (click)="addControl()" type="button">Dodaj kontrolkę</button>-->
    <div class="d-flex justify-content-end">
      <button [disabled]="registerForm.invalid" color="primary" mat-raised-button type="submit">Zarejestruj się</button>
    </div>
    <!--    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>-->
  </form>
  <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
</div>
